.OptionDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 90%;
  margin-right: 10px;

  h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
  }
}

.description-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  margin-left : 10px;
}

.svg {
  justify-content: center;
  align-items: center;
}

.icon-svg {
  filter: blur(3px);
}
