.Option {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.content {
  width: 100%;
  min-height: 200px;
  border: solid 1px #dddddd;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, .1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;

  .option-button {
    justify-content: center;
    align-items: center;
  }

  .options {
    display: flex;
    min-height: 200px;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    border-right: solid 1px #dddddd;

    h1 {
      margin: 0;
    }
  }
}

.content > * {
  width: 100%;
  margin: 10px;
}
